# compiled output
dist
dist-ssr
node_modules
build
.next
.nuxt
.output
*.local

# logs
logs
*.log
npm-debug.log*

# environment
.env
.env.example
.env.*

# os
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.swp
*.swo
